<svg
  xmlns="http://www.w3.org/2000/svg"
  width="244px"
  height="244px"
  viewBox="0 0 200 200"
>
  <circle
    cx="100"
    cy="100"
    r="90"
    [attr.stroke]="secondColor()"
    stroke-width="10"
    fill="none"
  />

  <circle
    cx="100"
    cy="100"
    r="90"
    [attr.stroke]="mainColor()"
    stroke-width="10"
    fill="none"
    [attr.stroke-dasharray]="circumference"
    [attr.stroke-dashoffset]="getStrokeDashoffset()"
    transform="rotate(-90 100 100)"
    stroke-linecap="round"
  />

  <text
    x="100"
    y="100"
    font-size="60px"
    font-weight="400"
    font-style="normal"
    font-family="roboto"
    text-anchor="middle"
    dy=".3em"
    [attr.fill]="mainColor()"
  >
    {{ remainingSeconds() | cronometer }}
  </text>
</svg>
